<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DiplomaWorkTests">
    <listeners>
        <listener class-name="org.testng.TestListenerAdapter" />
        <listener class-name="com.article.faces.hotel.utils.AllureTest" />
    </listeners>
    <test name="DiplomaTests">
        <parameter name="cucumber.filter.tags" value="@CityField" />
        <classes>
            <class name="com.article.faces.hotel.tests.OpenNewHotelPageTests" />
            <class name="com.article.faces.hotel.tests.NameFieldTests" />
            <class name="com.article.faces.hotel.tests.StarRateTests" />
            <class name="com.article.faces.hotel.tests.DateOfConstructionFieldTests" />
            <class name="com.article.faces.hotel.tests.CountryFieldTests" />
            <class name="com.article.faces.hotel.tests.CityFieldTests" />
            <class name="com.article.faces.hotel.tests.ShortDescriptionsFieldTests" />
            <class name="com.article.faces.hotel.tests.FullDescriptionFieldTests" />
            <class name="com.article.faces.hotel.tests.NotesFieldTests" />
        </classes>
    </test>
</suite>